{% extends "base.html" %}

{% block head %}

{% endblock %}

{% block content %}

{% if form.errors %}
<p class="error-messages">Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p class="error-messages">Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p class="error-messages">Please login to see this page.</p>
    {% endif %}
{% endif %}
<body class="page-body">
<form  method="post" action="">
{% csrf_token %}

<div style="margin-top:10%; margin-bottom:10%;"></div>
  <center> <div class="login-box">
<table align="center" style="text-align:center;">
<tr class="margin-fields">
    <td ><label class="label-fields" for="id_username">Username:</label></td>
</tr>
<tr>
    <td><input class="input-fields" type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" placeholder="Enter username" required="" id="id_username"></td>
</tr>
<tr class="margin-fields">
    <td><label class="label-fields" for="id_password">Password:</label></td>
</tr>
<tr>
<td><input class="input-fields" type="password" name="password" autocomplete="current-password" placeholder="Enter password" required="" id="id_password" ></td>
</tr>
<tr >
    <td  style="padding-top:20px; padding-bottom:20px; ">
        <input type="hidden" name="next" value="{{ next }}">
        <input class="page-button" type="submit" value="Login">
        <button class="page-button" style="margin-left:15%;" onclick="window.location.href='registration/register_visitor';">Register</button>
    </td>
</tr>

</table>
     </div> </center>
</form>
</body>
{% endblock %}