<!-- templates/home.html -->
{% include 'base.html' %}
  {% load static %}
{% block title %}
    <div>
        <h1 style="text-align:center">
            Animals
        </h1>
    </div>
{% endblock title %}

{% block content %}
    <div>
        <ul>
        {% for animal in animals %}
            <li>
                <h2 display: inline>Animal numero: {{ animal.name }}
                    <a href="../../animal_editor/{{animal.animal_id}}/">Edit</a>
                    <a href="../../animal_delete/{{animal.animal_id}}">Delete</a>
                </h2>
            </li>
        {% endfor %}
    </ul>
    </div>
{% endblock content %}