<!-- templates/home.html -->
{% include 'base.html' %}
  {% load static %}
{% block title %}
    <div>
        <h1 style="text-align:center">
            Zoos
        </h1>
    </div>
{% endblock title %}

{% block content %}
    <div vocab="https://schema.org/">
        <ul>
        {% for zoo in zoos %}
            <li>
            <span typeof="Zoo">
                <h2 display: inline><span property="name">Zoo name: {{ zoo.name }}</span></h2>
                <h4><span property="description">Zoo description: {{ zoo.description }}</span></h4>
                <h4><span typeof="PostalAddress" property="address"><span property="streetAddress">Zoo address: {{ zoo.address }}</span></span></h4>
                <h4><span typeof="PostalAddress" property="address"><span property="postalCode">Zoo postalcode: {{ zoo.postalcode }}</span></span></h4>
            </span>
            </li>
            <br>
        {% endfor %}
    </ul>
    </div>
{% endblock content %}