<!-- templates/base.html -->
{% load static %}
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="">
      <img src="../static/images/unknown.png" alt="" width="50" height="30">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'home' %}">
            Home
          </a>
        </li>



        {% if user.is_veterinary %}

        <li>
          <a class="nav-link active" aria-current="page" href="{% url 'create_animal' %}">  <!--Warning-->
            Create an animal
          </a>
        </li>
        <li>
          <a class="nav-link active" aria-current="page" href="">  <!--Warning-->
            Incidences
          </a>
        </li>
        {% endif %}

        {% if user.is_zoo_staff %}

        <li>
          <a class="nav-link active" aria-current="page" href="">  <!--Warning-->
            Requests
          </a>
        </li>
        <li>
          <a class="nav-link active" aria-current="page" href="">  <!--Warning-->
            Incidences
          </a>
        </li>
        {% endif %}

        {% if user.is_admin %}
        <li>
          <a class="nav-link active" aria-current="page" href="">  <!--Warning-->
            Requests
          </a>
        </li>
        <li>
          <a class="nav-link active" aria-current="page" href="">  <!--Warning-->
            Incidences
          </a>
        </li>
        {% endif %}

      {% if user.is_visitor %}
           <li>
          <a class="nav-link active" aria-current="page" href="">  <!--Warning-->
            Requests
          </a>
        </li>
        <li>
          <a class="nav-link active" aria-current="page" href="">  <!--Warning-->
            Incidences
          </a>
        </li>
      {% endif %}

      </ul>
      <span class="navbar-text">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          {% if user.is_authenticated %}

            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'logout' %}">
                Logout
              </a>
            </li>

          {% else %}

            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="">
                Login
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="">
                Register
              </a>
            </li>

          {% endif %}

      </ul>
      </span>
    </div>
  </div>
</nav>

{% block content %}
{% endblock %}