<!-- templates/base.html -->
{% load static %}
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/login-custom.css' %}">
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<link rel="stylesheet" href="{% static 'css/shared.css' %}">
<link rel="stylesheet" href="{% static 'css/register.css' %}">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'home' %}">
            Home
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'list_zoo' %}">
            Zoos
          </a>
        </li>

        {% if user.is_veterinary %}

        <li>
          <a class="nav-link active" aria-current="page" href="{% url 'create_animal' %}">  <!--Warning-->
            Create an animal
          </a>
        </li>
        <li>
          <a class="nav-link active" aria-current="page" href="{% url 'animal_editor' %}">  <!--Warning-->
            Delete and edit an animal
          </a>
        </li>
        {% endif %}

        {% if user.is_zoo_staff %}
        {% endif %}

        {% if user.is_superuser %}
        <li>
          <a class="nav-link active" aria-current="page" href="{% url 'create_zoo' %}">  <!--Warning-->
            Create Zoo
          </a>
        </li>
            <li>
          <a class="nav-link active" aria-current="page" href="{% url 'registration/register_veterinary' %}">  <!--Warning-->
            Register a Veterinary
          </a>
        </li>
            <li>
          <a class="nav-link active" aria-current="page" href="{% url 'registration/register_staff' %}">  <!--Warning-->
            Register a Staff
          </a>
        </li>
            <li>
          <a class="nav-link active" aria-current="page" href="{% url 'registration/register_visitor' %}">  <!--Warning-->
            Register a Visitor
          </a>
        </li>
        {% endif %}

      {% if user.is_visitor %}

      {% endif %}

      </ul>
      <span class="navbar-text">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          {% if user.is_authenticated %}

            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'logout' %}">
                Logout
              </a>
            </li>
          {% endif %}

      </ul>
      </span>
    </div>
  </div>
</nav>

{% block content %}
{% endblock %}